body, html{
    height: 100%;
}
.cardContainer{

    background: url('../../assets/Company.jfif') no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}

.col{
    color: black 
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat+Alternates&family=Montserrat:wght@300&family=Ubuntu&display=swap');